a {
  text-decoration: none;
}

.column-mapping {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.table-hold {
  overflow: scroll;
  padding: 10px 0;
}

table {
  width: 100%;
}

th, td {
  text-align: left;
  white-space: nowrap;
  padding: 10px 15px;
  font-size: 14px;
  color: #b8babe;
  /* font-weight: 300; */
}

th {
  text-transform: uppercase;
  background-color: #e7e7e7b6;
  color: #848484;
}
